.main {
  background-position: center center;
  background-size: cover;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
}
#countdown {
  font-size: 140px;
   position:absolute;
   left:auto;
  right:250px;
  text-align: center;
  color:white;
  bottom: 420px;
   }
   @media (min-width: 991px) {
    .adj{
text-align: center;
font-size: 50px;
      }
    }

@media (max-width: 991px) {
  .main {
    padding: 20px;
  }
}

.main .container {
  position: relative;
  z-index: 2;
}
.main p.social {
  text-align: right;
  margin-top: 20px;
}
.main p.social a {
  margin: 0 10px 0 0;
  color: #fff;
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 20px;
  line-height: 26px;
  font-size: 20px;
  text-align: center;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  vertical-align: bottom;
}
.main p.social a:hover{
  color: #6B7173;
}
.main p.social a i {
  vertical-align: bottom;
  line-height: 36px;
}

@media (max-width: 991px) {
  .main p.social {
    text-align: center;
  }
}
.main .cursive {
  margin-top: 200px;
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  text-align: center;
  margin-bottom: 40px;
}
@media (max-width: 1199px) {
  .main .cursive {
    margin-top: 50px;
  }
}
.main .sub {
  font-weight: 300;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.main .mailing-list {
  margin-top: 50px;
  text-align: center;
}
.main .mailing-list .mailing-list-heading {
  font-weight: 300;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  font-size: 30px;
}
@media (min-width: 768px) {
  .main .mailing-list input {
    width: 200px;
  }
}
@media (min-width: 992px) {
  .main .mailing-list input {
    width: 300px;
  }
}
@media (min-width: 1600px) {
  .main .mailing-list {
    margin-top: 200px;
  }
}
.main .transparent {
  background: rgba(255, 255, 255, 0.3);
  border: solid 1px #fff;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.main .footer {
  position: absolute;
  text-align: center;
    color: #eee;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
margin-left: 610px;}
.main .footer a {
  color: #fff;
}
@media (max-width: 991px) {
  .main .footer {
    text-align: center;
  }
  .main .footer p.credit {
    text-align: center;
    margin-left:400px; }
}
@media (min-width: 992px) {
  .main .footer {
    position: fixed;
    bottom: 20px;
  }
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
}
a {
  color: #4fbfa8;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #348e7b;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.img-rounded {
  border-radius: 6px;
}

.form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control::-moz-placeholder {
  color: #fafafa;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #fafafa;
}
.form-control::-webkit-input-placeholder {
  color: #fafafa;
  opacity: 1 !important;
}
.form-group {
  margin-bottom: 20px;
}
/* type */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}
p {
  margin: 0 0 10px;
}
